/* Common Code Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.7;
  color: #6c6c6c;
}
.half-width {
  width: 50%;
  float: left;
}
a {
  text-decoration: none;
  font-size: 15px;
  color: #6c6c6c;
}
h1 {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
.btn {
  background-image: linear-gradient(180deg, #f460ed, #ff6363);
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  letter-spacing: 1px;
}
.title {
  font-family: "Bebas Neue", cursive;
  color: #363958;
  font-size: 48px;
  padding-bottom: 20px;
  letter-spacing: 2px;
}
.center {
  text-align: center;
}
.color {
  color: #2b11be;
}
/* Common Code End */
