/* Footer Section Start */
.footer {
  text-align: center;
  min-height: 300px;
  h3 {
    color: #696871;
    font-family: "Bebas Neue", cursive;
    font-size: 24px;
    letter-spacing: 2px;
  }
  .email a {
    font-size: 16px;
    color: #363958;
    padding: 30px 0;
    display: inline-block;
  }
  .social ul {
    list-style: none;
    li {
      display: inline-block;
      a {
        padding: 10px;
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  p {
    padding: 50px 0;
    font-size: 15px;
  }
}
/* Footer Section End */
