/* Navbar start*/
.navbar {
  padding: 10px;
  ul {
    text-align: right;
    li {
      display: inline-block;
      a {
        padding: 5px 5px;
        font-weight: 500;
      }
    }
  }
}
/* Navbar end*/
