/* Success start */
.blog {
  min-height: 580px;
}
.article {
  width: 30%;
  height: 600px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 7px 15px grey;
  float: left;
  padding: 20px;
  margin: 19px;
  img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
  }
  h3 {
    padding: 10px 0;
    font-size: 15px;
    color: #363958;
  }
  p {
    height: 80px;
    overflow: scroll;
  }
  &-btn {
    display: inline-block;
    margin-bottom: 0;
    background-image: linear-gradient(180deg, #6259e4, #63faff);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    letter-spacing: 1px;
  }
}

.date {
  color: #696871;
  font-family: "Bebas Neue", cursive;
  font-size: 15px;
  letter-spacing: 2px;
  padding-bottom: 18px;
}
/* Success end */